
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


/*HEADER*/
.navigate{
    position: fixed;
    z-index: 10;

}
.header{
  height: 5vh;
  width: 100vw;
  margin: 0px 0px 0px 0px;
  padding: 1px 0px 0px 0px;
  text-transform: uppercase;
  background-color: #53A2BE;
  padding-left: 50px;
  padding-right: 45px;
}

.header-content > a:hover{
  color: grey;
}

.header-content{
  width: auto;
  height: 100%;
  display: inline-block;
  text-align: left;
}

.header-content > a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
}

input[type=text]{
  width: 60px; 
  height: 20px; 
  background-color: #53A2BE;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  line-height: 40px;
  text-transform: uppercase;
}

::placeholder{
  color: white;
  opacity: 1;
}

.nav-socials{
  text-align: right;
}


/*NAVIGATION*/
.nav-wrap{
  width: 100vw;
/*  background-color: rgba(36,38,41,.8);*/
  z-index: 10;
  box-shadow: 0 2px 40px 0 rgba(0,0,0,.08);
/*  border-bottom: 5px solid #C8D5B9;*/
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  line-height: 40px;
  text-transform: uppercase;
  color: white;
}


.clear{
  content: " ";
  clear: both;
}


.nav-border{
  height: 10vh;
  width: auto;
  text-align: center; 
  font-size: 13px;
}

.navbar-nav{
  margin-right: 45px;
}

.navbar-text{
  color:white;
}

li > a:hover{
  color: black;
}

/*a:visited{
  color: #7fcaad;
}*/

/*.nav-item > .nav-link{
  color: black;
}*/

/*li > a:hover {
  color: black;
}*/


/*.nav-border:hover {
  background-color: rgba(255, 255, 255, 0.1);
}*/




/*MAIN PAGE*/
.main{
  height: 110vh;
  width: 100vw;
  position: relative;
}


.main-content> img {
  margin-top: 13vh;
  height: 90vh;
  width: 100vw;
  border-bottom: 5px solid #C8D5B9;
}

.box{
  height: 230px;
  width: 100%;
  position: absolute;
  top: 385px;
  z-index: 5;
 /* background-color: rgba(255,255,255, 0.3);*/
  background: rgba(0,0,0,.5);
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.main-header{
  color: white;
  line-height: 1.4;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
}

.main-sub{
  font-size: 20px;
  color: white;
}

.sub-box{
  height: 50px;
  width: 300px;
  border: 1px solid black;
  background-color: rgba(83,162,190,0.3);
}

.box > a{
  text-decoration: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}

/*MODULE*/

.module-main{
  width: 100vw;
  height: 130vh;
  text-decoration: none;
}

.module-main-wrap{
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.module-main-title{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}



.vert{
  min-width: 45%;
  border-bottom: 5px solid #8FC0A9;
  overflow: hidden;
  margin-left: 50px;
  display: inline-block;
}

.module-head{
  display: inline-block;
  letter-spacing: 5px;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 38px;
  color: #161616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.module-subtitle{
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #828282;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.module-main-content{
  height: 300px;
  width: 32%;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border: 1.5px solid white;;

}

.module-main-content > a{
  text-decoration: none;
}

.module-main-content > a > img{
  height: 100%;
  width: 100%;
}


.text {
  position: relative;
  bottom: 190px;
  left: 0px;
  text-align: center;
  font-size: 20px;
  line-height: 1.3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  
}

.module-main-content:hover .text {
  position: relative;
  bottom: 297px;
  left: 0px;
  visibility: visible;
  background-color: rgba(255,255,255, 0.3);
  height: 100%;
  width: 100%;
  color: white;
  border: 1px solid black;

}

/*DEST*/
.dest-main{
  width: 100vw;
  height: 120vh;
  text-decoration: none;
}

.dest-main-wrap{
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.dest-main-title{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}


.dest-vert{
  min-width: 65%;
  border-bottom: 5px solid #8FC0A9; 
  overflow: hidden;
  margin-left: 50px;
  display: inline-block;
}

.dest-head{
  display: inline-block;
  letter-spacing: 5px;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 38px;
  color: #161616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.dest-subtitle{
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #828282;
}

.dest-map{
  height: 100%;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  border: 1.5px solid white;
  overflow: hidden;
  text-align: center;
}




/*MODULE*/
.guide-main{
  width: 100vw;
  height: 100vh;
}

.guide-main-wrap{
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.guide-main-title{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.guide-head{
  display: inline-block;
  letter-spacing: 5px;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 38px;
  color: #161616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.guide-vert{
  min-width: 45%;
  border-bottom: 5px solid #8FC0A9; 
  overflow: hidden;
  margin-left: 50px;
  display: inline-block;
}


.guide-subtitle{
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #828282;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.guide-main-content{
  height: 300px;
  width: 32%;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.guide-main-content > a{
  text-decoration: none;
}

.guide-main-content > a > img{
  height: 75%;
  border: 2px solid white;
  width: 100%;
}


.guide-title {
  text-align: center;
  font-size: 20px;
  line-height: 1.3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 0px;
}

.guide-subtitle {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: grey;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  padding-top: 0px;
}

.guide-text {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

/*FOOTER*/
.footer-main{
  width: 100vw;
  height: 20vh;
  background-color: white;
  border-top: 2px solid #8FC0A9;
}

.footer-main-wrap{
  width: 100vw;
  margin-left: auto;
  margin-right: auto;

}

.footer-title{
  padding-top: 20px;
  text-align: left;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-weight: 700;
  color: #212121;
  line-height: 1.4;

}


.footer-article{
  width: 100%;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  color: grey;
  text-align: justify;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #212121;
  line-height: 1.4;
}

.privacy, .contactus{
  direction:rtl;
  text-align:justify;
  padding-right: 20px;
}

.blog-title{
  text-transform: uppercase;
  font-weight: 700;

}

.terms-link{
  color: blue;
  text-decoration: none;
}

.privacy > .terms-link {
  text-decoration: none;
}












/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .header{
  height: 5vh;
  width: 100vw;
  margin: 0px 0px 0px 0px;
  padding: 3px 0px 0px 0px;
  text-transform: uppercase;
  background-color: #010101;
  }

  /*MAIN*/
  .main{
    height: 45vh;
    width: 100vw;
  }

  .main-content > video {
    margin-top: 90px;
    height: 100%;
    width: 100vw;
    object-fit: fill;
  }


/*MODULE*/
.module-main{
  width: 100vw;
  height: 315vh;
  text-decoration: none;
}


.vert{
  min-width: 80%;
  border-bottom: 5px solid #8FC0A9;
  overflow: hidden;
  display: block;
  padding-left: 0px;
  margin-left: 0px;
}


.module-main-content{
  height: 100%;
  width: 100%;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border: 1.5px solid white;
}

.module-subtitle, .module-head{
  text-align: center;
}



/*Destination*/
.dest-vert{
  min-width: 80%;
  border-bottom: 5px solid #8FC0A9;
  overflow: hidden;
  display: block;
  padding-left: 0px;
  margin-left: 0px;
}

.dest-main-title, .dest-head, .dest-subtitle{
  text-align: center;
}


.dest-main{
  width: 100vw;
  height: 70vh;
  text-decoration: none;
}

/*Guides*/
.guide-main{
  width: 100vw;
  height: 300vh;
}

.guide-vert{
  min-width: 80%;
  border-bottom: 5px solid #8FC0A9;
  overflow: hidden;
  display: block;
  padding-left: 0px;
  margin-left: 0px;
}

.guide-main-title, .guide-head, .guide-subtitle{
  text-align: center;
}

.guide-main-content{
  height: 100%;
  width: 100%;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border: 1.5px solid white;
}

.privacy, .contactus{
  direction:ltr;
  text-align:justify;
}

}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }


/*MAIN*/
  .main{
  height: 90vh;
  width: 100vw;
}


/*MODULE*/
.module-main{
  width: 100vw;
  height: 80vh;
  text-decoration: none;
}

.module-main-wrap{
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.module-main-title{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.module-main-title, .module-head, .module-subtitle{
  text-align: center;
}

.vert{
  min-width: 80%;
  border-bottom: 5px solid #8FC0A9;
  overflow: hidden;
  display: block;
  padding-left: 0px;
  margin-left: 0px;
}



/*Destination*/

.dest-vert{
  min-width: 80%;
  border-bottom: 5px solid #8FC0A9;
  overflow: hidden;
  display: block;
  padding-left: 0px;
  margin-left: 0px;
}

.dest-main-title, .dest-head, .dest-subtitle{
  text-align: center;
}

.dest-main{
  width: 100vw;
  height: 60vh;
  text-decoration: none;
}

/*Guides*/
.guide-main{
  width: 100vw;
  height: 80vh;
  text-decoration: none;
}

.guide-vert{
  min-width: 80%;
  border-bottom: 5px solid #8FC0A9;
  overflow: hidden;
  display: block;
  padding-left: 0px;
  margin-left: 0px;
}

.guide-main-title, .guide-head, .guide-subtitle{
  text-align: center;
}


.footer-main{
  width: 100vw;
  height: 20vh;
  background-color: white;
  border-top: 2px solid #8FC0A9;
}
}

/*// Large devices (desktops, 770px and up)*/
@media (min-width: 770px){
  .nav-wrap{
  height: 8vh;
  width: 100vw;
/*  background-color: rgba(255,255,255, 0.1);*/
/*  position: fixed;
  z-index: 10;
  box-shadow: 0 2px 40px 0 rgba(0,0,0,.1);*/

  }



* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(250, 250, 250) url(http://lorempixel.com/1920/1080/nature/);
  font-family: Lato, Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}


/*======================================================
                          Navbar
  ======================================================*/
#navbar {
  background: white;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
} @media(max-width: 768px) {
    .nav-wrapper {
      width: 90%;
    }
  } @media(max-width: 638px) {
      .nav-wrapper {
        width: 100%;
      }
    } 


.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
} @media(max-width: 768px) {
    .logo {
/*       margin-left: 5px; */
    }
  }

#navbar ul {
  display: inline-block;
  float: right;
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
} @media(max-width: 640px) {
    #navbar ul {
      display: none;
    }
  } @media(orientation: landscape) {
      #navbar ul {
        display: inline-block;
      }
    }

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(13, 26, 38);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: rgb(28, 121, 184);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before, #navbar li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: rgb(13, 26, 38);
  right: 0;
  /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

#navbar li a:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}



/*======================================================
                    Mobile Menu Menu Icon
  ======================================================*/
@media(max-width: 640px) {
  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 20px;
    height: 23px;
    width: 27px;
    z-index: 12;
  }

  /* Icon Bars */
  .icon-bars {
    background: rgb(13, 26, 38);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  } 

  .icon-bars::before {
    background: rgb(13, 26, 38);
    content: '';
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
/*     -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  .icon-bars::after {
    margin-top: 0px;
    background: rgb(13, 26, 38);
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
/*     -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  /* Bars Shadows */
  .icon-bars.overlay {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
    -webkit-animation: middleBar 3s infinite 0.5s;
  } @keyframes middleBar {
      0% {width: 0px}
      50% {width: 20px}
      100% {width: 0px}
    } @-webkit-keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      }

  .icon-bars.overlay::before {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 10px;
    animation: topBar 3s infinite 0.2s;
    -webkit-animation: topBar 3s infinite 0s;
  } @keyframes topBar {
      0% {width: 0px}
      50% {width: 10px}
      100% {width: 0px}
    } @-webkit-keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      }

  .icon-bars.overlay::after {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 15px;
    animation: bottomBar 3s infinite 1s;
    -webkit-animation: bottomBar 3s infinite 1s;
  } @keyframes bottomBar {
      0% {width: 0px}
      50% {width: 15px}
      100% {width: 0px}
    } @-webkit-keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      }


  /* Toggle Menu Icon */
  .menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
  }

  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}


/*======================================================
                   Responsive Mobile Menu 
  ======================================================*/
.overlay-menu {
  background: lightblue;
  color: rgb(13, 26, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.overlay-menu ul, .overlay-menu li {
  display: block;
  position: relative;
}

.overlay-menu li a {
  display: block;
  font-size: 1.8em;
  letter-spacing: 4px;
/*   opacity: 0; */
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
/*   -webkit-transition: 0.2s opacity 0.2s ease-out;
  transition: 0.2s opacity 0.2s ease-out; */
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
  color: rgb(28, 121, 184);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}













